<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
 	<meta charset="UTF-8"/>
 	<meta name="viewport" content="width=device-width" />
 	<title>Gestão de Produtos</title>
 	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
 	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
 	<h1>Gestão Produtos</h1>
 	<div class="panel panel-default" style="margin:10px">
 		<div class="panel-heading">
 			<!-- Título do painel -->
 			<h1 class="panel-title">Inserir Veículo</h1>
 		</div>
		<div class="panel-body">
 			<!-- Formulário para adicionar um veículo -->
 			<form class="form-inline" method="POST" style="margin: 20px 0" action="/inserirproduto">
 				<div class="form-group">
					<!-- Campos de entrada para as informações do veículo -->
					<input type="text" class="form-control" placeholder="Placa" name="placa"/><br>
					<input type="text" class="form-control" placeholder="Marca" name="marca"/><br>
					<input type="text" class="form-control" placeholder="Descrição" name="descricao"/><br>
 					<input type="text" class="form-control" placeholder="Cor" name="cor" /><br>
 					<input type="text" class="form-control" placeholder="Ano Modelo" name="anoModelo" /><br>
 					<input type="text" class="form-control" placeholder="Valor Venda" name="valorVenda" /><br>
 					<!-- Botão para enviar o formulário -->
 					<button type="submit" class="btn btn-primary">Adicionar</button>
 				</div>
 			</form>
 		</div>
 	</div>
</body>
</html>